.texto-nav {
  font-family: "Pacifico", cursive;
}

.cor-titulo {
    color: darkred;
}

.font-titulo {
  font-family: "Pacifico", cursive;
}

.img-carrosel {
  object-fit: cover;
  object-position: 0 80%;

  height: 400px;
}

.botao-cor-especial {
    color: #FFF;
    background-color: darkred;
}

.borda-cor-especial {
    border-color: darkred;
    width: 18rem;
}
