.texto-nav {
  font-family: "Pacifico", cursive;
}

.cor-titulo {
  color: darkred;
}

.font-titulo {
  font-family: "Pacifico", cursive;
}

.img-carrosel {
  object-fit: cover;
  object-position: 0 80%;

  height: 400px;
}

.card-largura {
  max-width: 18rem;
}

.botao-cor-especial {
  color: #fff;
  background-color: darkred;
}

.borda-cor-especial {
  border-color: darkred;
}

.img-card {
  object-fit: cover;
  /* object-position: 0 65%; */

  height: 200px;
}
