.texto-nav {
  font-family: "Pacifico", cursive;
}

.cor-titulo {
    color: darkred;
}

.font-titulo {
  font-family: "Pacifico", cursive;
}

.img-carrosel {
  object-fit: cover;
  object-position: 0 80%;

  height: 400px;
}
